@page "/"

<PageTitle>Index</PageTitle>

<h3 > Üdvözlünk a Könyvtárban!</h3>
<h5> Mit szeretnél tenni?</h5>

<div style="align-content:center">
    <a href="/konyv">Könyvek megtekintése</a>
</div>
<br />
<div>
    <a href="/olvaso">Megnézni a regisztrált olvasókat</a>
</div>
<br />
<div>
    <a href="/olvasoresz">Új olvasót regisztrálni</a>
</div>
<br />
<div>
    <a href="/konyvresz">Új könyvet felvenni a könyvtárba</a>
</div>
<br />
<div>
    <a href="/kolcsonzesek">Megnézni a kikölcsönzött könyveket</a>
</div>
<br />
<div>
    <a href="/kolcsszures">Megtekinteni a kölcsönzött könyveket olvasószám alapján</a>
</div>
<br/>
<div>
    <a href="/kolcsonzes">Könyvet kölcsönözni</a>
</div>

<style>
    body {
        background-color:goldenrod;
    }

    h3 {
        color:whitesmoke;
        text-align:center
    }

    h5 {
        color: whitesmoke; 
        text-align:center
    }

    a {
        color: green;
        background-color: transparent;
        text-decoration: none;
    }
</style>
